@import "tailwindcss";
@font-face {
  font-family: "Vazir";
  src: url("/Fonts/Vazir.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@theme {
  --font-Vazir: "Vazir";
  --font-Estedad-Light: "Estedad-Light";

  /*Coustom breakpoints */
  --breakpoint-small: 520px;
  /* --breakpoint-min-sma: 680px; */
  --breakpoint-medium: 680px;
  /* --breakpoint-large-medium: 780px; */
  --breakpoint-xlarge: 780px;
  /* --breakpoint-large-medium: 680px; */
  --breakpoint-large: 1130px;

  /* Coustom Paddings  */
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  /* Coustom border  */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;

  /* Coustom colors  */
  --color-tint-1: oklch(0.69 0.04 260.07);
  /* coustom grid  */
  /* grid-cols-[repeat(2,auto)] */
  /* grid-cols-[auto_auto] */

}